@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* loadingPanel set to active just when page is loaded *@
<style>
    #loadingPanel {
        display: table;
    }
</style>

@section Styles
{
    @Styles.Render(
        "~/Scripts/datatable/css/dataTables.bootstrap.css",
        "~/Scripts/datatable/responsive/css/dataTables.responsive.css")
}

<div ng-controller="viewReportController">
    <div class="breadcrumbs-v3">
        <div class="container">
            <h1 class="pull-left">Reportes</h1>
            <ul class="pull-right breadcrumb">
                <li>Reportes</li>
                <li>Ver</li>
            </ul>
        </div>
    </div>

    <form class="form-inline voffset4" ng-init="initUrls('@Url.Action("Get", "Report")', '@Url.Action("Search", "Report")')">
        <div class="container search-criteria">
            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <div class="form-group">
                        <h5 class="bold">Folio Inicial</h5>
                        <input id="txtFolioInicial" type="text" class="form-control" placeholder="Folio Inicial" ng-model="initialFolio" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <h5 class="bold">Folio Final</h5>
                        <input id="txtFolioFinal" type="text" class="form-control" placeholder="Folio Final" ng-model="finalFolio" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <h5>&nbsp;</h5>
                        <button class="btn btn-info btn-large btn-block" ng-click="search()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container table-results-container">
        <div class="row">
            <div class="col-md-12">
                <a href='@Url.Action("Create")' class="btn btn-link">Crear Nuevo</a>
            </div>
        </div>

        <div class="row voffset2">
            <div class="col-md-12">
                <table id="reportResults" class="table table-striped table-bordered table-hover dt-responsive" width="100%">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Raz&oacute;n Social</th>
                            <th>Fecha Reporte</th>
                            <th>Fecha Factura</th>
                            <th>Folio Factura</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render(
        "~/Scripts/angular.js",
        "~/Scripts/bootstrap-confirmation.js",
        "~/Scripts/datatable/js/jquery.dataTables.js",
        "~/Scripts/datatable/responsive/js/dataTables.responsive.min.js",
        "~/Scripts/datatable/js/dataTables.bootstrap.js",
        "~/Scripts/Utilities/software-contable.js",
        "~/Scripts/controllers/software-contable-directives.js",
        "~/Scripts/controllers/view-report-controller.js")
}