<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=11" />

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Software Contable</title>

    @Styles.Render(
        "~/Content/bootstrap.min.css",
        "~/Content/bootstrap-theme.min.css",
        "~/css/font-awesome.min.css",
        "~/Content/style.css",
        "~/Content/dark-blue.css",
        "~/Content/software-contable.css")

    @RenderSection("Styles", false)

    @* loadingPanel set to active just when page is loaded *@
    <style>
        #loadingPanel {
            display: table;
        }
    </style>
</head>
<body ng-app="softwareContable">

    <div class="wrapper">
        <div class="header">
            <div class="topbar">
                <div class="container">
                    <ul class="loginbar pull-right">
                        <li>
                            <a>
                                <i class="fa fa-user fa-1x"></i>User Name
                            </a>
                            <a class="log-off" href='@Url.Action("LogOff", "Account")'>
                                <i class="fa fa-power-off fa-1x"></i>Cerrar Sesi&oacute;n
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "set-loading-panel" })
                            </li>
                            <li>
                                @Html.ActionLink("Clientes", "Index", "Client", null, new { @class = "set-loading-panel" })
                            </li>
                            <li>
                                @Html.ActionLink("Usuarios", "Index", "User", null, new { @class = "set-loading-panel" })
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Reportes
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Crear", "Create", "Report", null, new { @class = "set-loading-panel" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Ver", "Visualize", "Report", null, new { @class = "set-loading-panel" })
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="loadingPanel">
            <div>
                Page Loading...<br />
                <i class="fa fa-5x fa-circle-o-notch fa-spin"></i>
            </div>
        </div>

        <div class="alert-messages-section">
            <div class="row">
                <div id="errorPanel" class="col-md-offset-4 col-md-4 text-justify alert alert-danger alert-dismissible fade in hidden" role="alert">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="text-center">
                        <h4>Error!</h4>
                        <span class="message"></span>
                    </div>
                </div>

                <div id="warningPanel" class="col-md-offset-4 col-md-4 text-justify alert alert-warning alert-dismissible fade in hidden" role="alert">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="text-center">
                        <h4>Alerta!</h4>
                        <span class="message"></span>
                    </div>
                </div>

                <div id="successPanel" class="col-md-offset-4 col-md-4 text-justify alert alert-success alert-dismissible fade in hidden" role="alert">
                    <button type="button" class="close">×</button>
                    <div class="text-center">
                        <h4>Confirmaci&oacute;n!</h4>
                        <span class="message"></span>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Incidentes CONTPAQ-i</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render(
        "~/Scripts/jquery-2.2.0.min.js",
        "~/Scripts/bootstrap.min.js")

    @RenderSection("Scripts", false)
</body>
</html>
